//
   Created by pinki on 25.06.2017.

extends ../layout

block content
    button#status-status-button.mdc-button.mdc-button--compact.mdc-card__action(onclick="getBySku()") GET PRODUCT BY SKU
    button#status-start-button.mdc-button.mdc-button--compact.mdc-card__action Action 2
    button#status-reset-button.mdc-button.mdc-button--compact.mdc-card__action RESET

block header
    script.
        function getBySku() {
            $.post('magento/get/sku',{},function (data) {
                console.log(data);
            });
        }