extends layout

block content
    .control
        #status-card.mdc-card.card
            section.mdc-card__primary
                h1#status-title.mdc-card__title.mdc-card__title--large
                h2#status-error.mdc-card__subtitle
            section#status-text.mdc-card__supporting-text

            section.mdc-card__actions
                button#status-status-button.mdc-button.mdc-button--compact.mdc-card__action Action 1
                button#status-start-button.mdc-button.mdc-button--compact.mdc-card__action Action 2
                button#status-reset-button.mdc-button.mdc-button--compact.mdc-card__action RESET

        #added-card.mdc-card.card
            section.mdc-card__primary
                h1#added-title.mdc-card__title.mdc-card__title--large
                h2#added-error.mdc-card__subtitle
            .text-inside
                span#added-text.mdc-card__supporting-text
                span#chacked-text.mdc-card__supporting-text
            section.mdc-card__actions
                button#added-seeall-button.mdc-button.mdc-button--compact.mdc-card__action Action 1

        #updated-card.mdc-card.card
            section.mdc-card__primary
                h1#updated-title.mdc-card__title.mdc-card__title--large
                h2#updated-error.mdc-card__subtitle
            section#updated-text.mdc-card__supporting-text
            section.mdc-card__actions
                button#updated-seeall-button.mdc-button.mdc-button--compact.mdc-card__action Action 1



    #main-list-card.mdc-card.card-info
        section.mdc-card__primary
            h2.mdc-card__subtitle Log list
        section.mdc-card__supporting-text(style='overflow-y:scroll')
            ul.mdc-list.mdc-list--avatar-list#main-list-ul
                li.mdc-list-item
                    img.mdc-list-item__start-detail(src='', width='56', height='56', alt='Picture of Janet Perkins')
                    |     Janet Perkins
                li.mdc-list-item
                    span(style="position: absolute; margin-left: 0px;")
                        | 123
                    span(style="position: absolute; margin-left: 50px;")
                        | 321
                    span(style="position: absolute; margin-left: 100px;")
                        | data 123
                li.mdc-list-item
                    span.added
                        | 123213213
                    span.updated
                        | 32132
                    span.data
                        | data 123






    aside#dialog.mdc-dialog(style='', role='alertdialog', aria-labelledby='mdc-dialog-with-list-label', aria-describedby='mdc-dialog-with-list-description')
        .mdc-dialog__surface.dialog-main
            header.mdc-dialog__header
                h2#dialog-title.mdc-dialog__header__title
            section#dialog-text.mdc-dialog__body
            footer.mdc-dialog__footer
                button#dialog-dennie.mdc-button.mdc-dialog__footer__button.mdc-dialog__footer__button--cancel(type='button', style='') Decline
                button#dialog-accept.mdc-button.mdc-dialog__footer__button.mdc-dialog__footer__button--accept(type='button') Accept
        .mdc-dialog__backdrop
    script(src="/node/material-components-web/dist/material-components-web.js")
    script.
        mdc.autoInit();
        panel.main();
block header
    link(rel='stylesheet', href="/stylesheets/panel.css")
