doctype html
html
  head
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no")

    title Parser

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href="/node/material-components-web/dist/material-components-web.css?ver=0.001")

    script(src="/javascripts/jquery-3.2.0.min.js")

    script(src="/javascripts/api.js")
    script(src="/javascripts/login.js")
    script(src="/javascripts/strings.js")
    script(src="/javascripts/ids.js")
    script(src="/javascripts/panel.js")

    block header
  body
    block content
