//
   Created by pinki on 02.06.2017.

extends layout

block content
    .mdc-card.main-card
        section.mdc-card__primary
            h1#login-title.mdc-card__title.mdc-card__title--large Вход
            h2#error.mdc-card__subtitle
        section.mdc-card__supporting-text
            .mdc-textfield(data-mdc-auto-init='MDCTextfield')
                input#login.mdc-textfield__input(type='text')
                label.mdc-textfield__label(for='login') Логин
            .mdc-textfield(data-mdc-auto-init='MDCTextfield')
                input#pass.mdc-textfield__input(type='password')
                label.mdc-textfield__label(for='pass') Пароль
        section.mdc-card__actions
            button#go.mdc-button.mdc-button--compact.mdc-card__action(onclick='login.login()') Войти

    script(src="/node/material-components-web/dist/material-components-web.js")
    script.
        mdc.autoInit()
block header
    link(rel='stylesheet', href="/stylesheets/login.css")
