body {
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    background: #E1E2E1;
}

.mdc-card__supporting-text {
    font-size: 1.3em;
}

.card {
    width     : 32%;
    margin    : auto;
    background: #f5f5f6 !important;
}

.control {
    display : flex;
    margin  : auto;
    width   : 97%;
}

.card-info {
    background : #f5f5f6 !important;
    margin     : 20px;
    max-height : calc(100% - 270px);
}

#status-text  {
    font-size: 1.1em !important;
    height: 60px;
}
#added-text {
    /*height: 60px;*/
    font-size: 1.1em;
}
#chacked-text{
    font-size: 1.1em;
}
#updated-text {
    height: 60px;
    font-size: 1.1em
}

.text-inside {
    height: 50px;
}




.table-main {
    display: inherit;
    border-bottom: 1px solid #A0A0A0;
}
.table-left {
    position: absolute;
}

.table-center {
    position    : absolute;
    margin-left : 120px;
}
.table-right {
    float: right;
}
.table-chacked{
    position    : absolute;
    margin-left : 250px;
}

.price-sale {
    float       : right;

}
.price {
    float: right;
    margin-left : 10px;
    text-decoration : line-through;
}

.product-li {
    margin-bottom: 30px;
}
.mdc-dialog__body {
    font-size: 1rem;
}
@media only screen and (max-width : 1024px) {
    .control {
        display: block;
    }
    .card {
        width         : inherit;
        margin-bottom : 15px;
        background    : #f5f5f6;
    }
    .table-left{
        position: inherit;
        margin-left: 0;
    }
    .table-center{
        position: inherit;
        margin-left: 0;
    }
    .table-chacked{
        position: inherit;
        margin-left: 0;
    }
    body{
        padding: 0;
    }
    #main-list-card{
        margin: 15px;
    }

}
@media only screen and (max-width : 800px) {
    .product-li {
        margin-bottom: 0 !important;
        height: 100px !important;
    }
}